@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  --color-abs-navy: #003057;
  --color-abs-red: #E31B23;
  --color-abs-steel: #A0B0BD;
  --color-abs-highlight: #0076C0;
}

body {
  background-color: #f1f5f9;
  /* slate-100 */
  color: #0f172a;
  /* slate-900 */
}

/* Custom scrollbar for industrial feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f8fafc;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}